* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  background-color: #eaeff6;
  letter-spacing: 2px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h2 {
  font-size: 3rem;
  color: rgb(53, 51, 57);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-transform: capitalize;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 2rem 1rem;
  justify-items: center;
  margin-bottom: 15px;  
}
 
.projects {
  transition: transform 400ms ease-out;  
}

.projects:hover {
  transform: scale(1.02);
}

.link-wrap {
  display: grid;
}

.link-div {
  display: flex;
  justify-content:flex-start;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: solid 1px rgb(198, 197, 197);
}

.link {
  color:goldenrod;
  margin-left: 10px;
  z-index: 999;
}
.link:hover {
  color: rgb(235, 143, 143);
}

.project-name {
  margin-left: 20px;
  color: rgb(53, 51, 57);
}

.photo {
  object-fit: cover;
  width: 350px;
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-btn {
  background: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: 'Oswald', sans-serif;
}

.filter-btn:hover {
  background: rgb(95, 133, 90);
  color: goldenrod;
}

.hide-category {
  z-index: -100;
  opacity: 0;
}

.photo-container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    min-height: 275px;
  }
}

@media screen and (max-width: 768px) {
  .btn-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btn-container {
    max-width: 400px;
  }
}